<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jomer.filetracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.ojtmonitoring.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ojtmonitoring.admin"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ojtmonitoring.CreateAccount"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.content"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ojtmonitoring.UserBorrowedItems"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ojtmonitoring.UserReturnedItem"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ojtmonitoring.ReturnConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.ojtmonitoring.AllLogs"
            android:label="@string/title_activity_all_logs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.AllUsers"
            android:label="@string/title_activity_all_users"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.EditAuthCode"
            android:label="@string/title_activity_edit_auth_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.AllQrCode"
            android:label="AllQrCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.EditPassword"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.AllLogsUser"
            android:label="@string/title_activity_all_logs_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.SearchUser"
            android:label="@string/title_activity_search_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.Transfer"
            android:label="@string/title_activity_transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.AccountSelectionActivity"
            android:label="@string/title_activity_account_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.ojtmonitoring.CreateCompanyAccountActivity" />
        <activity
            android:name="com.example.ojtmonitoring.CreateTeacherAccountActivity"
            android:label="@string/title_activity_create_teacher_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.ojtmonitoring.CreateStudentActivity"
            android:label="@string/title_activity_create_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.ojtmonitoring.AccountCreationSelectionActivity" />
        <activity android:name="com.example.ojtmonitoring.StudentLoginActivity"></activity>
    </application>

</manifest>