<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ojtmonitoring">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".BackgroundProcessService"
            android:exported="false" />

        <activity
            android:name=".Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".content"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserBorrowedItems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserReturnedItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReturnConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllLogs"
            android:label="@string/title_activity_all_logs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllUsers"
            android:label="@string/title_activity_all_users"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAuthCode"
            android:label="@string/title_activity_edit_auth_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllQrCode"
            android:label="AllQrCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditPassword"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllLogsUser"
            android:label="@string/title_activity_all_logs_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchUser"
            android:label="@string/title_activity_search_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Transfer"
            android:label="@string/title_activity_transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountSelectionActivity"
            android:label="@string/title_activity_account_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateCompanyAccountActivity" />
        <activity
            android:name=".CreateTeacherAccountActivity"
            android:label="@string/title_activity_create_teacher_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateStudentActivity"
            android:label="@string/title_activity_create_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountCreationSelectionActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".CompanyLoginActivity" />
        <activity android:name=".CompanyUpdateInformation" />
        <activity android:name=".AddUpdateCompanyRequirements" />
        <activity android:name=".ShowCompaniesActivity" />
        <activity android:name=".CreateUpdateResumeActivity" />
        <activity android:name=".TeacherLoginActivity" />
        <activity android:name=".ShowOJTApplicationsActivity" />
        <activity android:name=".ShowOJTListActivity" />
        <activity android:name=".ShowStudentLoginLogoutActivity" />
        <activity android:name=".AttendanceCheckerMainActivity" />
        <activity android:name=".NewStudentAccountsActivity" />
        <activity android:name=".ViewApprovedAccountsActivity" />
        <activity android:name=".CreateSectionActivity" />
        <activity android:name=".CreateSectionCompanyActivity" />
        <activity android:name=".SectionSelectionActivity" />
        <activity android:name=".CreateStudentSectionActivity" />
        <activity android:name=".CreateCoordinatorAccountActivity" />
        <activity android:name=".CoordinatorLoginActivity" />
        <activity android:name=".ShowCoordinatorRequestActivity" />
        <activity android:name=".ShowTimeAccumulatedActivity" />
        <activity android:name=".PrintReportActivity" />
        <activity android:name=".RateCompanyActivity" />
        <activity android:name=".RateStudentActivity" />
        <activity android:name=".StudentListActivity" />
        <activity android:name=".ViewSectionsActivity" />
        <activity android:name=".ShowSectionEnrolleesActivity" />
        <activity android:name=".ViewTeachersActivity" />
        <activity android:name=".MessageTeacherActivity" />
        <activity android:name=".ViewCompaniesActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".NewTeachersAccountActivity" />
        <activity android:name=".StudentWeeklyReportActivity" />
        <activity android:name=".ShowStudentListsActivity" />
        <activity android:name=".PrintStudentEvaluationActivity" />
        <activity android:name=".AdministratorActivity" />
        <activity android:name=".UserAccountsActivity" />
        <activity android:name=".ResumeActivity" />
        <activity android:name=".PendingStudentOJtRequestActivity" />
        <activity android:name=".PendingOjTForApprovalActivity" />
        <activity android:name=".StudentInformationActivity" />
        <activity android:name=".CompanyNavigationActivity"></activity>
    </application>

</manifest>