<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jomer.filetracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".content"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserBorrowedItems"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserReturnedItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReturnConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllLogs"
            android:label="@string/title_activity_all_logs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllUsers"
            android:label="@string/title_activity_all_users"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditAuthCode"
            android:label="@string/title_activity_edit_auth_code"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllQrCode"
            android:label="AllQrCode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditPassword"
            android:label="@string/title_activity_edit_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllLogsUser"
            android:label="@string/title_activity_all_logs_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchUser"
            android:label="@string/title_activity_search_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Transfer"
            android:label="@string/title_activity_transfer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>